*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: rgb(255, 231, 93);
    height: 100vh;
}
.title{
    text-align: center;
    font-size: 3rem;
    margin-top:30px;
}
.container{
   padding-top: 35vh;
}

.rating{
    display: flex;
    width: 500px;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    cursor: pointer;
}
/*efecto hover*/
i{
    color:black;
    font-size: 150px;
}
.hoverOn:hover i{
    color:rgb(204, 43, 43);
}
.hoverOn i:hover{
    color:rgb(204, 43, 43);
}
.hoverOn i:hover ~ i{
    color:black;
}
.active{
    color:rgb(204, 43, 43);
}
